---
import { PhiReact } from "../components/phi-react";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col items-center gap-4 py-4">
    <h1>PHI 2 WASM by <a href="https://asius.ai">Asius.ai</a></h1>
    <PhiReact client:load />
  </body>
</html>
